<body>
    <section class='login' id='login'>
        <div class='head'>
        <h1 class='company'>Assignment project </h1>
        </div>
        <p class='msg'>MIAGE 2022/2023</p>
        <div class='form'>
            <div class="button-row">
                <a mat-raised-button href="/student/auth" target="_blank">Connexion/Inscription étudiant</a>
                <br>
                <a mat-raised-button href="/teacher/auth" target="_blank">Connexion/Inscription professeur (Admin)</a>
                <br>
                <a mat-raised-button href="/home" target="_blank">Connexion Invité</a>
            </div>
        </div>
    </section>
    <footer>
        <p>Made with <span class='heart'>&hearts;</span> by Johann Avramov & Quentin Guillou </p>
        <br>
        <p>Gradient: <a href='https://uigradients.com/#Turquoiseflow'>https://uigradients.com/#Turquoiseflow</a></p>
      </footer>
</body>

  