<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<body>
      <div  class="container">
        <div *ngIf="!isLoggedIn" class="frame">
              <div class="nav">
                  <ul class="links">
                      <li class="signin-active"><a class="btn">Connexion</a></li>
                      <li class="signup-inactive"><a class="btn">Inscription</a></li>
                  </ul>
              </div>

              <div ng-app ng-init="checked = false">
                  <form class="form-signin" [formGroup]="loginForm" action="" method="post" name="form"
                      (ngSubmit)="login()">
                      <label for="username">Nom d'utilisateur</label>
                      <input class="form-styling" type="text" formControlName="username" name="username" id="username"
                          placeholder="" />
                      <label for="password">Mot de passe</label>
                      <input class="form-styling" type="password" formControlName="password" name="password"
                          id="password" placeholder="" />
                      <button class="btn-animate" class="btn-sign" type="submit" name="submit"
                          id="submit">Connexion</button>
                  </form>

                  <form class="form-signup" action="" [formGroup]="registerForm" method="post" name="form"
                      (ngSubmit)="register()">
                      <label for="username">Nom d'utilisateur</label>
                      <input class="form-styling" type="text" formControlName="username" name="username"
                          placeholder="" />
                      <label for="name">Nom</label>
                      <input class="form-styling" type="text" formControlName="nom" id="name" name="name"
                          placeholder="" />
                      <label for="prenom">Prénom</label>
                      <input class="form-styling" type="text" formControlName="prenom" id="prenom" name="prenom"
                          placeholder="" />
                      <label for="email">Email</label>
                      <input class="form-styling" type="email" formControlName="email" id="email" name="email"
                          placeholder="" />
                      <label for="password">Mot de passe</label>
                      <input class="form-styling" type="password" formControlName="password" name="password"
                          placeholder="" />
                      <label for="confirmpassword">Confirmer mot de passe</label>
                      <input class="form-styling" type="password" formControlName="confirmPassword"
                          id="confirmpassword" name="confirmPassword" placeholder="" />
                      <label for="email">Photo de profil</label>
                      <input class="form-styling" type="text" formControlName="picture" name="picture"
                          placeholder="" />
                      <button class="btn-animate" class="btn-sign" type="submit" name="submit">Inscription</button>
                  </form>
              </div>
          </div>
        <div *ngIf="isLoggedIn" class="frame">
          <p>Vous êtes déjà connecté</p>
          <button (click)="logOut()">Se déconnecter</button>
        </div>
      </div>

</body>
