<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C'est un agenda</title>
</head>
<body>
    <h1>Je suis une agenda</h1>
    <br>
    <main class="container">
        <div class="ajouterBtn">
            <a routerLink="/add">
                <button class="ajouterBtn" mat-flat-button color="accent" (click)="onAddAssignmentBtnClick()">Ajouter un assignment</button>
            </a>
        </div>
        <mat-list *ngFor="let assignment of assignments">
            <nav><a routerLink="/assignment/{{assignment.id}}">
                <h3 mat-subheader>Date de rendu     {{assignment.dateDeRendu | date}}</h3>
                <mat-list-item (click)="assignmentClique(assignment)"> 
                    <p appRendu *ngIf="assignment.rendu; else nonsoumis">
                        Devoir intitulé {{assignment.nom}} à été rendu.
                    </p>
                    <ng-template #nonsoumis>
                        Le devoir {{assignment.nom}} n'a pas été rendu.
                    </ng-template>  
                    <mat-divider></mat-divider>
                </mat-list-item>    
            </a></nav>
        </mat-list>
    </main>
</body>
</html>