.rendu {
    color: green;
}

.nonRendu {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ajouterBtn {
    align-self: flex-end;
}

.mat-row:hover {
    cursor: pointer;
}

.mat-header-row {
    position: sticky;
    top: 0;
}

th {
    color: black;
    font-size: larger;
}

.filterRendu {
    display: flex;
}

.filterRendu>* {
    margin-right: 10px;
}