.rendu {
    color: green;
}

.nonRendu {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ajouterBtn {
    align-self: flex-end;
}

.mat-row:hover {
    cursor: pointer;
}

.mat-header-row {
    position: sticky;
    top: 0;
}

th {
    color: black;
    font-size: larger;
}



.hidden {
    display: none;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.table-responsive > * {
  width: 100%;
}

.filterRendu {
  display: flex;
  justify-content: flex-start;
  align-items: normal;
  width: 100%;
}
